@import "variables";
/**********Миксины**********/
@mixin main-color($Color){
  color: $Color;
}
@mixin main-background-color($BackgroundColor){
  background-color: $BackgroundColor;
}
@mixin main-button($backgroundColor,$textColor){
  @include main-background-color($backgroundColor);
  @include main-color($textColor);
}
/**********Цвета для текста**********/
.black-color{
  @include main-color($main-color-black);
}

.dark-blue-color{
  @include main-color($main-color-dark-blue);
}
.blue-color{
  @include main-color($main-color-blue);
}

.dark-white-color{
  @include main-color($main-color-dark-white);
}
/**********Кнопки**********/
.green-button{
  @include main-button($main-color-light-green,$main-color-black);
}

.white-button{
  @include main-button($main-color-dark-white,$main-color-black);
}

.red-button{
  @include main-button($main-color-light-red,$main-color-black);
}

.rounded-button {
  border-radius: 10px;
}
/**********Задний фон**********/
.gray-background-color{
  @include main-background-color($main-color-gray);
}

.light-gray-background-color{
  @include main-background-color($main-color-light-gray);
}

.dark-white-background-color{
  @include main-background-color($main-color-dark-white);
}
/**********Input**********/
.dark-white-input{
  :deep .v-field{
    @extend .dark-white-background-color;
    @extend .black-color;
  }
}
/*************************/