$main-color-black: #000000;
$main-color-green: #07EF1E;
$main-color-light-green: #87E7B9;
$main-color-blue: #534BA7;
$main-color-dark-blue: #33305D;
$main-color-gray: #B3BAC6;
$main-color-light-gray: #D9D9D9;
$main-color-dark-white: #ECECEC;
$main-color-white: #FFFFFF;
$main-color-red: #EF0707;
$main-color-light-red: #E79287;

